.App {
  text-align: center;
}
.slider{
  padding-top: 10px;
  max-width: 1100px;
  margin: auto;
}
.col p{
 text-align: justify;
 font-family: 'Mukta', sans-serif;
}
.col h3{
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
}
.col h2{
  font-family: 'Baloo Bhai', cursive;
  text-decoration: underline;
}
.col s12 m4 l8{
  padding-top: 10px;
}
